BMICalculatorServer/src/META-INF/wsdl/localhost_8080/WebServiceBMICalculator/BMICalcService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.bmicalc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.bmicalc.com/" name="BMICalcService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.bmicalc.com/" schemaLocation="http://localhost:8080/WebServiceBMICalculator/BMICalcService?xsd=1"/>
</xsd:schema>
</types>
<message name="cekLogin">
<part name="parameters" element="tns:cekLogin"/>
</message>
<message name="cekLoginResponse">
<part name="parameters" element="tns:cekLoginResponse"/>
</message>
<message name="insertData">
<part name="parameters" element="tns:insertData"/>
</message>
<message name="insertDataResponse">
<part name="parameters" element="tns:insertDataResponse"/>
</message>
<message name="insertAccount">
<part name="parameters" element="tns:insertAccount"/>
</message>
<message name="insertAccountResponse">
<part name="parameters" element="tns:insertAccountResponse"/>
</message>
<message name="insertDataIdeal">
<part name="parameters" element="tns:insertDataIdeal"/>
</message>
<message name="insertDataIdealResponse">
<part name="parameters" element="tns:insertDataIdealResponse"/>
</message>
<portType name="BMICalcService">
<operation name="cekLogin">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/cekLoginRequest" message="tns:cekLogin"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/cekLoginResponse" message="tns:cekLoginResponse"/>
</operation>
<operation name="insertData">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataRequest" message="tns:insertData"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataResponse" message="tns:insertDataResponse"/>
</operation>
<operation name="insertAccount">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertAccountRequest" message="tns:insertAccount"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertAccountResponse" message="tns:insertAccountResponse"/>
</operation>
<operation name="insertDataIdeal">
<input wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataIdealRequest" message="tns:insertDataIdeal"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcService/insertDataIdealResponse" message="tns:insertDataIdealResponse"/>
</operation>
</portType>
<binding name="BMICalcServicePortBinding" type="tns:BMICalcService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cekLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataIdeal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BMICalcService">
<port name="BMICalcServicePort" binding="tns:BMICalcServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceBMICalculator/BMICalcService"/>
</port>
</service>
</definitions>