BMICalculatorServer/xml-resources/web-service-references/BMICalcService/wsdl/localhost_8080/WebServiceBMICalculator/BMICalcService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.bmicalc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.bmicalc.com/">

<xs:element name="cekLogin" type="tns:cekLogin"/>

<xs:element name="cekLoginResponse" type="tns:cekLoginResponse"/>

<xs:element name="insertAccount" type="tns:insertAccount"/>

<xs:element name="insertAccountResponse" type="tns:insertAccountResponse"/>

<xs:element name="insertDataBMI" type="tns:insertDataBMI"/>

<xs:element name="insertDataBMIResponse" type="tns:insertDataBMIResponse"/>

<xs:element name="insertDataIdeal" type="tns:insertDataIdeal"/>

<xs:element name="insertDataIdealResponse" type="tns:insertDataIdealResponse"/>

<xs:complexType name="cekLogin">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cekLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAccount">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="jenis_kelamin" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAccountResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataIdeal">
<xs:sequence>
<xs:element name="tinggi_badan" type="xs:double"/>
<xs:element name="berat_ideal" type="xs:double"/>
<xs:element name="account_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataIdealResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataBMI">
<xs:sequence>
<xs:element name="berat_badan" type="xs:double"/>
<xs:element name="tinggi_badan" type="xs:double"/>
<xs:element name="hasil_bmi" type="xs:double"/>
<xs:element name="account_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>